* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html,
body {
  width: 100vw;
  height: auto;
}

:root {
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header - Navigation */
header {
  height: auto;
  position: relative;
  color: white;
}

.header-content {
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://www.doi.gov/sites/doi.gov/files/uploads/grandcanyontotalinversionerinhugginsnpssmall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
}

nav {
  height: 90px;
  display: flex;
}

#logo {
  display: flex;
  height: 100%;
  align-items: center;
  width: 60%;
}

#logo img {
  max-height: 100%;
  margin-right: 10px;
}

nav ul {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
  margin: 0 8px;
}

#upload-btn {
  border-radius: 7px;
}

/* Navigation - Title / Searchbar */
.title-and-search {
  width: 60%;
  margin: 90px auto;
  position: relative;
}

.text-and-button {
  display: flex;
  margin: 25px 0;
}

.text-and-button button {
  background: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  padding-right: 15px;
}

.text-and-button button:hover {
  opacity: .7;
}

.text-and-button img {
  margin: 0 auto;
}

#search-bar {
  width: 95%;
  border-radius: 5px 0 0 5px;
  border: none;
  height: 45px;
  font-size: .95rem;
  padding-left: 15px;
}

.title-and-search h4 span {
  opacity: .5;
}

/* Tabs - Photos / Videos */

.tabs {
  height: 90px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.tabs button {
  margin: 0 5px;
  border-radius: 30px 30px 30px 30px;
  padding-right: 30px;
  padding-left: 30px;
  background: white;
}

.tabs li button.active {
  background: black;
  color: white;
}

/* Search Output */
.search-output {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-output h5 {
  text-align: center;
  margin-top: 30px;
  color: gray;
}

.images {
  display: flex;
  justify-content: center;
  width: 100%;
}

.images .col {
  width: 30%;
}

.images .img {
  height: 280px;
  background: red;
  margin: 10px 5px;
}

.images .col:nth-of-type(2) .img {
  background: yellow;
  height: 320px;
}



/* Utilities */
.btn {
  border: none;
  padding: 17px 20px;
  font-size: .8rem;
  cursor: pointer;
}

ul,
ul li {
  list-style: none;
}

#source-credit a {
  opacity: .4;
  cursor: hover;
  font-size: smaller;
  color: white;
  text-decoration: none;
}

#source-credit {
  text-align: right;
}

header,
.search-output {
  padding: 20px 15px;
}